<a href="https://colab.research.google.com/github/SaiMithunPunna/AIDS/blob/main/churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.preprocessing import MinMaxScaler , LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Datasets/1_Churn_Modelling(in).csv')

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
le=LabelEncoder()

In [ ]:
categorical_columns=['Geography','Gender']

In [ ]:
for col in categorical_columns:
  df[col]=le.fit_transform(df[col])

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.drop_duplicates()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
Q1=df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']].quantile(0.25)
Q3=df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']].quantile(0.75)
IQR=Q3-Q1

In [ ]:
rem_out=df[~(((df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']] < (Q1-1.5*IQR)) | (df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]>(Q3+1.5 *IQR)))).any(axis=1)]
display(rem_out.head())

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df=rem_out

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
sc=MinMaxScaler()

In [ ]:
df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember']] =sc.fit_transform(df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember']])

<ipython-input-15-4219784001>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember']] =sc.fit_transform(df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember']])

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,0.505353,0.0,0.0,0.545455,0.2,0.000000,0.0,1.0,1.0,101348.88,1
1,2,15647311,Hill,0.481799,1.0,0.0,0.522727,0.1,0.334031,0.0,0.0,1.0,112542.58,0
2,3,15619304,Onio,0.254818,0.0,0.0,0.545455,0.8,0.636357,1.0,1.0,0.0,113931.57,1
3,4,15701354,Boni,0.676660,0.0,0.0,0.477273,0.1,0.000000,0.5,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,1.000000,1.0,0.0,0.568182,0.2,0.500246,0.0,1.0,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,0.830835,0.0,1.0,0.477273,0.5,0.000000,0.5,1.0,0.0,96270.64,0
9996,9997,15569892,Johnstone,0.284797,0.0,1.0,0.386364,1.0,0.228657,0.0,1.0,1.0,101699.77,0
9997,9998,15584532,Liu,0.698073,0.0,0.0,0.409091,0.7,0.000000,0.0,0.0,1.0,42085.58,1
9998,9999,15682355,Sabbatini,0.832976,0.5,1.0,0.545455,0.3,0.299226,0.5,1.0,0.0,92888.52,1
9999,10000,15628319,Walker,0.875803,0.0,0.0,0.227273,0.4,0.518708,0.0,1.0,0.0,38190.78,0

In [ ]:
X=df[['CreditScore' ,'Geography' , 'Gender' , 'Age' , 'Tenure', 'Balance','NumOfProducts','HasCrCard','IsActiveMember']]
y=df['EstimatedSalary']

In [ ]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember
0,0.505353,0.0,0.0,0.545455,0.2,0.000000,0.0,1.0,1.0
1,0.481799,1.0,0.0,0.522727,0.1,0.334031,0.0,0.0,1.0
2,0.254818,0.0,0.0,0.545455,0.8,0.636357,1.0,1.0,0.0
3,0.676660,0.0,0.0,0.477273,0.1,0.000000,0.5,0.0,0.0
4,1.000000,1.0,0.0,0.568182,0.2,0.500246,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
9995,0.830835,0.0,1.0,0.477273,0.5,0.000000,0.5,1.0,0.0
9996,0.284797,0.0,1.0,0.386364,1.0,0.228657,0.0,1.0,1.0
9997,0.698073,0.0,0.0,0.409091,0.7,0.000000,0.0,0.0,1.0
9998,0.832976,0.5,1.0,0.545455,0.3,0.299226,0.5,1.0,0.0
9999,0.875803,0.0,0.0,0.227273,0.4,0.518708,0.0,1.0,0.0

In [ ]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 9568, dtype: float64

In [ ]:
X_train , X_test , y_train , y_test=train_test_split(X,y,random_state=42)

#Modeling

In [ ]:
from keras import Sequential
from keras.layers import Dense

In [ ]:
model=Sequential()

model.add(Dense(units=128 ,input_shape=(X_train.shape[1],),activation='relu'))
model.add(Dense(units=64,kernel_initializer='he_uniform',activation='relu'))
model.add(Dense(units=32 ,kernel_initializer='he_uniform',activation='relu'))
model.add(Dense(units=1 ,kernel_initializer='he_uniform'))

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.compile(loss='mean_squared_error' , optimizer='adam' , metrics=['mse'])
model.fit(X_train,y_train,batch_size=32 , epochs=10,verbose=1,validation_split=0.3)

Epoch 1/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 13383171072.0000 - mse: 13383171072.0000 - val_loss: 12764786688.0000 - val_mse: 12764786688.0000
Epoch 2/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 11089631232.0000 - mse: 11089631232.0000 - val_loss: 4488316928.0000 - val_mse: 4488316928.0000
Epoch 3/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3968788992.0000 - mse: 3968788992.0000 - val_loss: 3670578176.0000 - val_mse: 3670578176.0000
Epoch 4/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3777858560.0000 - mse: 3777858560.0000 - val_loss: 3645320448.0000 - val_mse: 3645320448.0000
Epoch 5/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3713357568.0000 - mse: 3713357568.0000 - val_loss: 3617190144.0000 - val_mse: 3617190144.0000
Epoch 6/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3551725568.0000 - mse: 3551725568.0000 - val_loss: 3599788800.0000 - val_mse: 3599788800.0000
Epoch 7/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3604544512.0000 - mse: 3604544512.0000 - val_loss: 3574769664.0000 - val_mse: 3574769664.0000
Epoch 8/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3584265216.0000 - mse: 3584265216.0000 - val_loss: 3557393408.0000 - val_mse: 3557393408.0000
Epoch 9/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3510516224.0000 - mse: 3510516224.0000 - val_loss: 3543197440.0000 - val_mse: 3543197440.0000
Epoch 10/10
157/157 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3531591680.0000 - mse: 3531591680.0000 - val_loss: 3530697216.0000 - val_mse: 3530697216.0000

In [ ]:
y_pred = model.predict(X_test)
print("Sample predictions vs actual:")
for i in range(5):
    print(f"Predicted: {y_pred[i][0]:.2f}, Actual: {y_test.iloc[i]:.2f}")

75/75 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Sample predictions vs actual:
Predicted: 118386.45, Actual: 149822.04
Predicted: 99042.79, Actual: 109572.58
Predicted: 85337.95, Actual: 122949.71
Predicted: 124165.91, Actual: 148412.24
Predicted: 126681.50, Actual: 59325.21